version: '3.9'

services:
  web:
    build: .
    container_name: ipcalc
    restart: unless-stopped
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
    command: flask run --host=127.0.0.1 --port=5001