version: '3.9'

services:
  web:
    build: .
    container_name: subnet-calc
    restart: unless-stopped
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
    command: flask run --host=0.0.0.0 --port=5001